/* Common styles */
*{  margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    background-image: url("../new-year-new-me/images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
}


.banner{
    text-align: right;
    margin-right: 10%;
    color: white;
    position: absolute;
    top: 200px;
    right: 200px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    
}
h2{
    font-size: 40px;
    color: #151414;
}

h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}
p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 4px;;
}

.btn{
    font-size: 20px;
    font-weight: 800px;
    color: white;
    background-color: orangered;
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 5px;
}

.middle-half{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
    width: 50%;
}

.middle-half ul> li{
    list-style-type: none;
}
.icon{
    color: rgb(68, 153, 192);
    margin-right: 10px;
}

#my-plan{
    text-align: center;
    margin: 150px 150px;

}

.plans{
    text-align: center;
    display: flex;
    max-width: 95%;
    justify-content: space-around;

}
.bottom{
    margin: 60px;
    margin-bottom: 150px;
    border-radius: 5px;
    padding: 50px;
    max-width: 90%;
    height: 300px;
    background: linear-gradient( 90deg, rgba(75, 75, 128, 0.274), rgb(9, 176, 206));
}
.bottom h2{
    margin-bottom: 20px;
}

footer{
    background-color: #151414;
    height: 580px;
    display: flex;
    align-items: center;

}
.footer-half{
    width: 50%;
    margin-left: 100px;
    padding: 20px;
}

.footer-half ul{
    padding: 0;
}
.footer-half ul> li{
    list-style: none;
    display: inline;
    margin: 5px;
}
.footer-half .btn{
 margin-top: 20px;
}

.footer-half h3{
    color: beige;
}
#contact{
    color: white;
}

