/* Common styles */
*{  margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    background-image: url(/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
}


.container{
    text-align: right;
    margin-right: 10%;
    color: white;
    position: absolute;
    top: 200px;
    right: 200px;
}
.container h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    
}
.container p{
    font-size: 20px;
    margin-top: 20px;
}

.btn{
    font-size: 25px;
    color: white;
    background-color: orangered;
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px 4px;
}