/* Common styles */
*{  margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    position: relative;
    background-image: url(/images/banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
}


.container{
    text-align: right;
    margin-right: 10%;
    color: white;
    position: absolute;
    top: 200px;
    right: 200px;
}
h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
    
}
h2{
    font-size: 40px;
    color: #151414;
}

h3{
    font-size: 30px;
    font-weight: bold;
    color: #151414;
}
p{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 4px;;
}

.btn{
    font-size: 20px;
    font-weight: 800px;
    color: #005FAC;
    background-color: orangered;
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 5px;
}

.middle-part{
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-left: 200px;
}
.middle-part ul> li{
    list-style-type: none;
}
.plans{
    text-align: center;
    display: flex;
}
.plans ul> li{
    list-style: 218px 197px;
    list-style-type: none;
}
